/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


@mixin body-font-regular {
    font-family: 'adelle', serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-italic {
    font-family: 'adelle', serif;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
   font-family: 'adelle', serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'league-gothic', sans-serif;
    font-style: normal;
    font-weight: 400;
}

// Site Variables
$color: #242424;
$key-color: #41a0dd;
$background-color: #e8f2f3;
$link-color: #ff3181;